.contenedorBody {
	flex-direction: column;
	min-height: 83vh;
  }

  

.navbar-logo {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: black;
}

p {
  color: black;
}

.formulario {
	margin: 15px;
}

footer p {
	color: white;
}

a:hover {
  color: black;
}

.camisetas {
  display:inline-block;
}

.titulo {
  margin: 10px;
}

.items {
  text-decoration: none;
}

.contenedorFiltrar {
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 11px 11px 11px 11px;
}

/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato';
	color: #333;
	height: 100vh;
  	margin: 0;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

a {
	cursor: pointer;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 0;
}

.container-icon {
	position: relative;
	margin-right: 10px;
}

.count-products {
	position: absolute;
	top: 35%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

.labelEmail {
	margin: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-size: 20px;
}

.inputEmail {
	margin: 10px;
	font-size: 15px;
}

.mensajePassword {
	font-size: 13px;
}

@media screen and (max-width: 930px) {
	.carousel-item {
		width: 100%;
		height: 83vh;
	  }
	
	  .carousel-item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	  }
	}

@media screen and (max-width: 683px) {
	.contenedorFiltrar {
		float: none;
	}

	
  }

  @media screen and (max-width: 389px) {
	nav img {
		display: none;
	}
  }

  @media screen and (max-width: 350px) {
	#tituloNav {
		font-size: 15px;
	}
  }

  .nav-item {
	margin-left: 10px;
  }

  @media screen and (max-width: 429px) {
	.container-cart-products {
		width: 350px;
	}
  }

  @media screen and (max-width: 379px) {
	.container-cart-products {
		width: 300px;
	}
  }

  @media screen and (max-width: 333px) {
	.container-cart-products {
		width: 250px;
	}
  }

.contenedorChatGPT {
	width: 98%;
	background-color: #353740;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	margin: 20px auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tituloChatGPT {
	font-size: 18px;
  	margin-bottom: 10px;
}

.respuestaChatGPT {
	background-color: #444654;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-family: "Roboto", sans-serif;
}

.botonChatGPT {
	background-color: #19c37d;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.botonChatGPT:hover {
	background-color: #2ADC93;
}
  
.botonChatGPT:focus {
	outline: none;
}
